#footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #EEEDFF !important;
  border-top: 4px solid var(--main-red);
}

.footer > p {
  margin: 2rem;
}

.footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
