:root {
  --color: #1f306e !important;
  --i-trans-fast: 350ms;
}
body {
  margin: 0px;
  font-family: Helvetica;
  line-height: 20px;
  background-color: #1f306e !important;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: center;
}
/* unvisited link */
a:link {
  color: #1f306e;
}

/* visited link */
a:visited {
  color: #1f306e;
}

/* mouse over link */
a:hover {
  color: #1ab315;
}

/* selected link */
a:active {
  color: rgb(255, 0, 234);
}


.contenido {
  text-decoration: none !important;
  padding: 20px;
  display: grid;
  background-color: #1f306e;
  list-style-type: none;
  counter-reset: css-counter 0;
  background: #1f306e;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  cursor: pointer;
  transition: 1.4s;
}


.contador p {
  width: 32px; /* overriding previous values */
  height: 28px;
  color: #fff;
  background-color: #1f306e;
  border-radius: 50%; /* here's the trick */
  border: 1px solid #1f306e;
  counter-increment: css-counter 1; /* Increase the counter by 1. */
}

.contador p:before {
  content: counter(css-counter); /* Apply counter before children's content. */
}
.botonCheck{
  background-color: #1f306e !important;
}

.card {
  align-self: center;
  text-align: center;
  height: 100%;
}


.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fill;
}

.card-img {
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  height: 300px;
  width: fill;
  margin: auto;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem !important;
}

.card-title {
  text-align: center;
}
.card-footer {
  text-align: center;
  padding: 0.5rem 3rem;
  position: sticky;
}