.wrapper {
  padding-top: 30px;
}
  
body h3 {
  margin-bottom: 25px;
}
/* .container-board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.box-board {
  width: 25%;
} */
.lol {
  /* display: flex; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  width: '30rem';
	margin: 1.5%;	
	background-image: linear-gradient(180deg, #eee, #fff 200px, #fff);
}
	  
  
.navbar-brand a {
  color: #ffffff;
}
  
.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
  
.table-wrapper {
  max-width: 700px;
}
  
.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
  
.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}
  
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}