:root{ 
 --color: #1f306e !important; 

}
/* RESET CSS */

img{
  width: 100%;
}
body {
  margin: 0px;
  font-family: Arial;
  line-height: 20px;
  background-color: #1f306e;
}
/* a{
  text-decoration: none;
  color: #fff !important;
} */
/* FIN RESET CSS */


/* navbar  */

.navbar-expand{
  justify-content: space-between !important;
}
.contenido{
  padding: 20px;
  display: grid;

  background: #1F306E;
  grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
  grid-auto-rows: auto;
  gap: 10px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;

}
.navbar {
  height: 90px;
  background: #1F306E;
}
.card{
  text-align: center;
}

.card-img{
  width: 130px;
  margin: auto;
}

.card-title{
  text-align: center;
}
.footer {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background-color: #1F306E;
  text-align: center;
  color: white;
}